/*cacher picto parcours*/
.mod-catal .catal-ex-item-cat-icon {
    display: none;
}


/* Pub article Immo toulouse */

.article.node389513.toulouse #zone4 .block-openx
{
text-align: inherit;
}


.social-and-dates .wrapper .sosial .icons .sr-list li .sr-link .icon-linkedin{

background-image: url(/theme/immobilier_git_desktop/img/icons/icon-linkedin-yellow.svg);

}


header.site-banner div.block.block-small.quicklinks.social ul i.icon-linkedin{
    background-image: url(/theme/immobilier_git_desktop/img/icons/icon-linkedin-gris.svg);
    background-repeat: no-repeat;
    background-position: 1px 8px;
    FONT-SIZE: 17px;
    width: 20px!important;
}
.social-sharing, #zone1 .side-quicklinks .ql-item .btn-primary{
border : 0;
}


/****** MASQUE AJOUTER A MA SELECTION ********/

button.btn-primary.with-icon.js-mySelection {
    position: absolute;
    margin-left: -236px;
    margin-top: -8px;
}
.icon-catal-catal-star-empty:before, .icon-catal-star-empty:before {
    width: 15px;
    height: 15px;
    margin-top: -1px;
}

.js-mySelection .selection-empty span.animation-txt, .js-mySelection .selection-full span.animation-txt {
    text-transform: uppercase;
    font-size: 11px;
}
.js-mySelection .selection-empty span.animation-txt:hover, .js-mySelection .selection-full span.animation-txt:hover{ 
color:#df306c;
}
.icon-catal-star-delete:before, .icon-star-delete:before{
	width: 15px;
    height: 15px;
    margin-top: -1px;
}

/***** CHANGE LE NOMBRE d'ITEMS DANS LES OFFRES DE STANDS DE LA PARTIE ESPACE EXPOSANT ******/


/******** MODIFICATION COMPTE CLIENT **********/

div#cxpmClientAccountWidget {
    float: left;
    padding-left: 15px;
    font-family: Open Sans,sans-serif;
}

#cxpmClientAccountWidget .not-logged .widget-text span a{
	font-size: 12px;
    text-transform: uppercase;
	    letter-spacing: 0.05em;
}

#cxpmClientAccountWidget .widget-my-selection i.cap-icon-shopping_basket {
    font-size: 20px;
}

div#cxpmClientAccountWidget .not-logged a, div#cxpmClientAccountWidget .logged a {
    color: #0a043d;
}

.openCapMobile .openCapTrigger i.cap-icon-user-circle-o {
    padding-right: 7px;
}

div#cxpmClientAccountWidget .logged span#widgetFirstname {
    font-size: 13px;
}
div#cxpmClientAccountWidget .logged span#widgetFirstnameText {
    font-size: 13px;
}

#cxpmClientAccountWidget .logged .widget-text span a.widgetCapLogout {
    font-size: 0.45em;
	color: #afafaf;
}

#cxpmClientAccountWidget .widget-my-selection .widget-icon{
    padding: 0 2px 0px 0px;
}
